<app-user-layout>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10 pr-1">
              <h4 class="card-title">Glucose Registry</h4>
            </div>
            <div class="col-md-2 px-1 mt-3">
              <i class="nc-icon nc-simple-add" (click)="(2)"></i>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                  Date
                </th>
                <th>
                  GS (mg/dl)
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let glucose of glucoseList">
                  <td>
                    {{ glucose.date | date: "medium":"UTC" }}
                  </td>
                  <td>
                    {{ glucose.glucose }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 px-1">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-11 pr-1">
              <h4 class="card-title">Bolus Registry</h4>
            </div>
            <div class="col-md-1 px-1 mt-3">
              <i class="nc-icon nc-simple-add" (click)="(2)"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                  Date
                </th>
                <th>
                  GS (mg/dl)
                </th>
                <th>
                  Correction
                </th>
                <th>
                  Meal
                </th>
                <th>
                  Total
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let bolus of bolusList">
                  <td>
                    {{ bolus.date | date: "medium":"UTC" }}
                  </td>
                  <td>
                    {{ bolus.glucose }}
                  </td>
                  <td>
                    {{ bolus.correctionBolus }}
                  </td>
                  <td>
                    {{ bolus.chBolus }}
                  </td>
                  <td>
                    {{ bolus.chBolus + bolus.correctionBolus }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-user-layout>
